body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f7f9fc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.table {
  width: 817px;
  background-color: #ffffff;
  margin: 70px;
  border-collapse: collapse;
}

.table__header {
  height: 28px;
  border: 1px solid #e4e7f0;
  text-align: left;
  color: #5f667e;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
}

.table__header--contact {
  width: 24%;
}

.table__header--value {
  width: 14%;
}

.table__header--location {
  width: 19%;
}

.table__header--deals {
  width: 9%;
}

.table__header--tags {
  width: 34%;
}

.table__row {
  width: 917px;
  height: 46px;
  margin: 0 0 44px;
  padding: 16px 443px 13px 170px;
  border: 1px solid #e4e7f0;
}

.table__column--contact {
  color: #356ae6;
  font-weight: bold;
}

.checkbox {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  border: 1px solid #ced3e0;
  background-color: #ffffff;
  margin: 0 12px;
  vertical-align: middle;
  margin-bottom: 2.5px;
}
