body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
}

.table {
  width: 817px;
  background-color: #ffffff;
  margin: 70px;
  border-collapse: collapse;

  &__header {
    height: 28px;
    border: 1px solid #e4e7f0;
    text-align: left;
    color: #5f667e;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;

    &--contact {
      width: 24%;
    }

    &--value {
      width: 14%;
    }

    &--location {
      width: 19%;
    }

    &--deals {
      width: 9%;
    }

    &--tags {
      width: 34%;
    }
  }

  &__row {
    width: 917px;
    height: 46px;
    margin: 0 0 44px;
    padding: 16px 443px 13px 170px;
    border: 1px solid #e4e7f0;

    &--isChecked {
      background: #fafbff;
    }
  }

  &__column {
    &--contact {
      color: #356ae6;
      font-weight: bold;
    }
  }
}

.checkbox {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  appearance: none;
  border: 1px solid #ced3e0;
  background-color: #ffffff;
  margin: 0 12px;
  vertical-align: middle;
  margin-bottom: 2.5px;
  outline: none;

  &--checked {
    appearance: auto;
  }
}
